<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">

    <title>Voucher Codes: Save Money with Money Saving Voucher Codes</title>
    <meta name="description" content="Voucher codes are a great way to save money shopping online. Money Saving Voucher Codes can help you to find savings on all kinds of items.">
    <meta name="keywords" content="voucher, codes, discount, code, offer, money saving, save money, shopping, online">

    <meta property="og:image" content="https://www.moneysavingvouchercodes.co.uk/images/apple-touch-icon.png">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.moneysavingvouchercodes.co.uk"/>
    <meta property="og:title" content="Voucher Codes: Save Money with Money Saving Voucher Codes" />
    <meta property="og:site_name" content="MoneySavingVoucherCodes.co.uk" />
    <meta property="og:description" content="Save money at your favourite online stores.  Our vouchers are  updated every day so you get the newest vouchers available, and we don't display expired vouchers."/>



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <meta name="author" content="www.edwardrobertson.co.uk" />
    <link rel="author" href="/humans.txt">

    <meta name="robots" content="NOODP">

    <link rel="stylesheet" href="/css/money-saving-voucher-codes.css" media="all" />
    <link rel="stylesheet" href="https://use.typekit.net/jwz4myv.css">
    <link rel="SHORTCUT ICON" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />

    <script src="/js/modernizr-2.0.6.js"></script>

    <link rel="stylesheet" href="/css/jquery-ui.css" />

</head>

<body>
<div id="skiptomain"><a href="#main">skip to main content</a></div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<header class="wrap">
    <div class="overlay">
        <div class="inner header-inner">

            <div id="socials">
                <ul class="clear resetlist">
                    <li class="socials__twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></li>
                    <li class="socials__facebook"><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.moneysavingvouchercodes.co.uk&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21"></iframe></li>
                    <li class="socials__googleplus"><div id="plusone"></div></li>
                </ul>
            </div>

            <div class="topNav">
                <ul class="resetlist">
                    <li><a href="/save-money/">Money Saving <span>Tips</span></a></li>
                    <li><a href="/discount-voucher-codes/"><span>How to use </span>Voucher Codes</a></li>
                </ul>
            </div>






            <div class="menuhd show-more"><a href="#"><img src="/images/icon-navigation.png" width="23" height="13" alt="Nav" class="navImg" /> Show Menu/Navigation</a></div>
            <nav>

                <ul class="resetlist">
                    <li class="hassub"><a href="/shop-voucher-codes/">Codes by Store <img src="/images/drop.png" alt="down arrow" /></a>
                        <ul class="stores resetlist">

                            <li><a href="/arena-flowers/m1635">Arena Flowers</a></li>


                            <li><a href="/ben-sherman/m5032">Ben Sherman</a></li>


                            <li><a href="/benefit-cosmetics-uk/m7225">Benefit Cosmetics UK</a></li>


                            <li><a href="/bootscom/m2041">Boots.com</a></li>


                            <li><a href="/bunchescouk/m488">Bunches.co.uk</a></li>


                            <li><a href="/claires-uk/m5387">Claire's UK</a></li>


                            <li><a href="/currys-pc-world/m1599">Currys PC World</a></li>


                            <li><a href="/flavourly/m6545">Flavourly</a></li>


                            <li><a href="/flying-flowers/m1268">Flying Flowers</a></li>


                            <li><a href="/footasylum/m2832">Footasylum</a></li>


                            <li><a href="/fragrancedirect/m9">Fragrancedirect</a></li>


                            <li><a href="/greatmagazines/m970">GreatMagazines</a></li>


                            <li><a href="/hampergiftscouk/m2484">Hampergifts.co.uk</a></li>


                            <li><a href="/iceland/m7868">Iceland</a></li>


                            <li><a href="/interflora/m1969">Interflora</a></li>


                            <li><a href="/la-muscle/m3253">LA Muscle</a></li>


                            <li><a href="/la-redoute/m1496">La Redoute</a></li>


                            <li><a href="/led-hut-ltd/m4261">Led Hut Ltd</a></li>


                            <li><a href="/madecom-uk/m3329">Made.com UK</a></li>


                            <li class="more"><a href="/shop-voucher-codes/">More Stores &raquo;</a></li>
                        </ul>
                    </li>

                    <li><a href="/popular-voucher-codes/">Popular Codes</a></li>
                    <li><a href="/new-voucher-codes/">New Codes</a></li>
                    <li><a href="/free-delivery-voucher-codes/">Free Delivery Codes</a></li>
                    <li><a href="/expiring-voucher-codes/">Expiring Codes</a></li>
                </ul>

            </nav>


            <div class="wrap logo-group">
                <div class="inner">
                    <strong><a id="logo" href="/"><img src="/images/msvc-logo.png" alt="Money Saving Voucher Codes" /></a></strong>
                    <div class="tagline"><b>We're passionate about saving money.</b> There are 953 active voucher codes for you today. </div>
                </div>
            </div>

            <div id="search">
                <div class="inner">

                    <form id="searchForm" action="/search/" method="get">
                        <input type="text" name="search" class="search" id="query" placeholder="Type a store name e.g. Currys" value="" required /> <input name="searchsubmit" type="submit" class="searchsubmit" value="Search" />
                    </form>
                </div>
            </div>

        </div>
    </div>
</header>

<div id="main" class="wrap h-main" role="main">
    <div class="inner">

        <h1 class="homeTitle">Money Saving Voucher Codes - Save Money Today</h1>

        <div class="section group">
            <div class="h_stores wrap">

                <div class="store"><a href="/select-fashion/m3477"><img src="https://darwin.affiliatewindow.com/images/upload/merchant/profile/3477.png"  alt="Select Fashion"  /></a></div>

                <div class="store"><a href="/sock-shop/m1374"><img src="https://darwin.affiliatewindow.com/images/upload/merchant/profile/1374.png"  alt="Sock Shop"  /></a></div>

                <div class="store"><a href="/fragrancedirect/m9"><img src="https://darwin.affiliatewindow.com/images/upload/merchant/profile/9.png"  alt="Fragrancedirect"  /></a></div>

                <div class="store"><a href="/bunchescouk/m488"><img src="https://darwin.affiliatewindow.com/images/upload/merchant/profile/488.png"  alt="Bunches.co.uk"  /></a></div>

                <div class="store"><a href="/myprotein-uk/m3196"><img src="https://darwin.affiliatewindow.com/images/upload/merchant/profile/3196.png"  alt="Myprotein UK"  /></a></div>

                <div class="store"><a href="/bootscom/m2041"><img src="https://darwin.affiliatewindow.com/images/upload/merchant/profile/2041.png"  alt="Boots.com"  /></a></div>

                <div class="store"><a href="/thompson-and-morgan/m2283"><img src="https://darwin.affiliatewindow.com/images/upload/merchant/profile/2283.png"  alt="Thompson & Morgan"  /></a></div>

                <div class="store"><a href="/ben-sherman/m5032"><img src="https://darwin.affiliatewindow.com/images/upload/merchant/profile/5032.png"  alt="Ben Sherman"  /></a></div>

                <div class="store"><a href="/scotts-of-stow/m1923"><img src="https://darwin.affiliatewindow.com/images/upload/merchant/profile/1923.png"  alt="Scotts of Stow"  /></a></div>

                <div class="store"><a href="/hampergiftscouk/m2484"><img src="https://darwin.affiliatewindow.com/images/upload/merchant/profile/2484.png"  alt="Hampergifts.co.uk"  /></a></div>

                <div class="store"><a href="/sweatbandcom/m2537"><img src="https://darwin.affiliatewindow.com/images/upload/merchant/profile/2537.png"  alt="Sweatband.com"  /></a></div>

                <div class="store"><a href="/claires-uk/m5387"><img src="https://darwin.affiliatewindow.com/images/upload/merchant/profile/5387.png"  alt="Claire's UK"  /></a></div>

            </div>
        </div>

    </div>
</div>

<div class="wrap h-portal-wrap">
    <div class="inner">
        <div class="section group">
            <div class="h_portal col span_1_of_3">
                <div class="h_popularcodes">

                    <h3>Popular Codes</h3><a class="morelink" href="/popular-voucher-codes/">Popular Codes &raquo;</a>


                    <div class="voucher">
                        <div class="img">
                            <img src="//www.affiliatewindow.com/logos/15312/logo.gif" alt="mostwanted-pens DE" class="voucherlogo" />
                        </div>
                        <div class="container">

                            <a class="voucherlink" onclick="pageTracker._trackPageview('/outgoing/mostwanted-pens.com');" href="https://www.moneysavingvouchercodes.co.uk/mostwantedpens-de/m15312"></a>

                            <a onclick="pageTracker._trackPageview('/outgoing/mostwanted-pens.com/codedesc');" class="voucherlink" href="/voucher/1939499" rel="external">We love summer. 10% Discount on all products at mostwanted-pens DE</a>

                            <p class="vouchercode" onclick="pageTracker._trackPageview('/outgoing/mostwanted-pens.com/button');" rel="external">*****</p>

                            <p class="voucher-expiry"><img src="/images/icon-calendar.gif" width="16" height="15" alt=" "> Voucher code expires 30/06/2019</p>

                            <a target="_blank" onclick="pageTracker._trackPageview('/outgoing/mostwanted-pens.com/button');" href="/voucher/1939499" rel="external"  class="button visitbutton gen">Visit site and use voucher</a>

                        </div>
                    </div>

                    <div class="voucher">
                        <div class="img">
                            <img src="//www.affiliatewindow.com/logos/15312/logo.gif" alt="mostwanted-pens DE" class="voucherlogo" />
                        </div>
                        <div class="container">

                            <a class="voucherlink" onclick="pageTracker._trackPageview('/outgoing/mostwanted-pens.com');" href="https://www.moneysavingvouchercodes.co.uk/mostwantedpens-de/m15312"></a>

                            <a onclick="pageTracker._trackPageview('/outgoing/mostwanted-pens.com/codedesc');" class="voucherlink" href="/voucher/1939505" rel="external">Happy Fathers Day to all partners! All products 10% discount code at mostwanted-pens DE</a>

                            <p class="vouchercode" onclick="pageTracker._trackPageview('/outgoing/mostwanted-pens.com/button');" rel="external">*****</p>

                            <p class="voucher-expiry"><img src="/images/icon-calendar.gif" width="16" height="15" alt=" "> Voucher code expires 30/05/2019</p>

                            <a target="_blank" onclick="pageTracker._trackPageview('/outgoing/mostwanted-pens.com/button');" href="/voucher/1939505" rel="external"  class="button visitbutton gen">Visit site and use voucher</a>

                        </div>
                    </div>


                </div>
            </div>

            <div class="h_portal col span_1_of_3">
                <div class="h_expiringtoday">

                    <h3>Expiring Codes</h3><a class="morelink" href="/expiring-voucher-codes/">All Expiring Codes &raquo;</a>


                    <div class="voucher">
                        <div class="img">
                            <img src="//www.affiliatewindow.com/logos/15312/logo.gif" alt="Women's Best UK" class="voucherlogo" />
                        </div>
                        <div class="container">

                            <a class="voucherlink" onclick="pageTracker._trackPageview('/outgoing/uk.womensbest.com');" href="https://www.moneysavingvouchercodes.co.uk/womens-best-uk/m16251"></a>

                            <a onclick="pageTracker._trackPageview('/outgoing/uk.womensbest.com/codedesc');" class="voucherlink" href="/voucher/1939528" rel="external">20% off everything + free BCAA Amino at Women's Best UK</a>

                            <p class="vouchercode" onclick="pageTracker._trackPageview('/outgoing/uk.womensbest.com/button');" rel="external">*****</p>

                            <p class="voucher-expiry"><img src="/images/icon-calendar.gif" width="16" height="15" alt=" "> Voucher code expires 23/01/2019</p>

                            <a target="_blank" onclick="pageTracker._trackPageview('/outgoing/uk.womensbest.com/button');" href="/voucher/1939528" rel="external"  class="button visitbutton gen">Visit site and use voucher</a>

                        </div>
                    </div>

                    <div class="voucher">
                        <div class="img">
                            <img src="//www.affiliatewindow.com/logos/15312/logo.gif" alt="JoyBuy UK" class="voucherlogo" />
                        </div>
                        <div class="container">

                            <a class="voucherlink" onclick="pageTracker._trackPageview('/outgoing/cps.joybuy.com');" href="https://www.moneysavingvouchercodes.co.uk/joybuy-uk/m15179"></a>

                            <a onclick="pageTracker._trackPageview('/outgoing/cps.joybuy.com/codedesc');" class="voucherlink" href="/voucher/1939363" rel="external">Get an extra 8% off when order with PayPal. (Up to $35 Off) at JoyBuy UK</a>

                            <p class="vouchercode" onclick="pageTracker._trackPageview('/outgoing/cps.joybuy.com/button');" rel="external">PAYPAL8OFFJAN</p>

                            <p class="voucher-expiry"><img src="/images/icon-calendar.gif" width="16" height="15" alt=" "> Voucher code expires 23/01/2019</p>

                            <a target="_blank" onclick="pageTracker._trackPageview('/outgoing/cps.joybuy.com/button');" href="/voucher/1939363" rel="external"  class="button visitbutton gen">Visit site and use voucher</a>

                        </div>
                    </div>


                </div>
            </div>

            <div class="h_portal col span_1_of_3">
                <div class="h_popularitems">

                    <h3>Find us on Facebook</h3>

                    <div class="fb-page" data-href="https://www.facebook.com/moneysavingvouchercodes/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/moneysavingvouchercodes/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/moneysavingvouchercodes/">Money Saving Voucher Codes</a></blockquote></div>

                </div>
            </div>

        </div>

        <div class="row btmportals">
            <div class="as_seen col span_1_of_3">
                <div class="pad">
                    <h4>You may have seen us in:</h4>
                    <img src="/images/as_seen_logos.png" alt="As Seen in">
                </div>
            </div>
            <div class="why_love col span_1_of_3">
                <div class="pad">
                    <h4>Why do our users love us?</h4>
                    <p>Because we only show active vouchers that you can use today, you don't need to wade through a sea of codes.<br /><a href="/save-money/">Money Saving Tips &raquo;</a></p>
                </div>
            </div>
            <div class="using_voucher col span_1_of_3">
                <div class="pad">
                    <h4>How do I use voucher codes?</h4>
                    <p>Just enter the voucher code  during your shopping process and you'll save money instantly.<br /><a href="/discount-voucher-codes/">Find out more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div><!--main-->

<div class="hTwitter clear">
    <div class="inner">
        <a href="https://twitter.com/moneysavingcode" class="twitter-follow-button" data-show-count="false">Follow @moneysavingcode</a>

        <h4><img src="/images/twitter-bird-dark.png" alt="Twitter"> Latest Codes on Twitter</h4>
        <div class="clear" id="twitter_feed_rgt"></div>
    </div>
</div>

<footer class="wrap">
    <div class="inner">


        <div class="section group">

            <div class="col span_2_of_4 sitemap">
                <strong class="footer-header">Explore the site</strong>
                <ul>
                    <li><a href="/shop-voucher-codes/">Voucher Codes by Store</a></li>
                    <li><a href="/popular-voucher-codes/">Popular Voucher Codes</a></li>
                    <li><a href="/new-voucher-codes/">New Voucher Codes</a></li>
                    <li><a href="/free-delivery-voucher-codes/">Free Delivery Voucher Codes</a></li>
                    <li><a href="/expiring-voucher-codes/">Expiring Voucher Codes</a></li>
                    <li><a href="/save-money/">Money Saving Tips</a></li>
                    <li><a href="/discount-voucher-codes/">How to use Voucher Codes</a></li>
                </ul>


            </div>
            <div class="col span_2_of_4 shareus">
                <strong class="footer-header">Connect</strong>
                <p><img src="/images/footer-rss.png" width="16" height="16" alt="RSS "> <a href="/voucher-code-rss/">Voucher Codes by RSS</a></p>
                <p><img src="/images/footer-twitter.png" width="16" height="16" alt="Twitter "> <a href="https://twitter.com/moneysavingcode">Follow us on Twitter</a></p>
                <p><img src="/images/footer-facebook.png" width="16" height="16" alt="Facebook"> <a href="https://www.facebook.com/moneysavingvouchercodes">Like us on Facebook</a></p>
            </div>

        </div>
        <div class="copyright"><a href="https://www.moneysavingvouchercodes.co.uk">Money Saving Voucher Codes</a> is operated by <a href="https://www.edwardrobertson.co.uk">Edward Robertson</a> &copy; Copyright 2008 - 2019 All rights reserved.<br />
            Edward Robertson Ltd is registered in England. Registration Number: 3931089. Registered Address: : 2 Union Square, Darlington, County Durham, DL1 1GL.


        </div>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11394738-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-11394738-1');
        </script>
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js"><\/script>')</script>
<!--[if (lt IE 9) & (!IEMobile)]>
<script src="/js/selectivizr-min.js"></script>
<![endif]-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script src="https://apis.google.com/js/plusone.js"></script>
<script>
    gapi.plusone.render("plusone",
        {"size": "medium", "count": "true" });


    $(function() {$( ".show-more" ).on('click', function() {
        $("nav").toggle();
    });
    });

    $(".cat-show-more a").click(function(){
        if($(".cat-hide").is(":visible")){
            $(".cat-hide").slideUp("fast", function(){$(this).removeAttr("style")});
        }else{
            $(".cat-hide").slideDown("fast");
        }
        return false;
    });
</script>
<script src="/js/vouchers.js"></script>
<script src="/js/jquery-ui.js"></script>
<script>
    $(function() {
        var availableTags = ["247 Home Rescue","365 Tickets","3Retro Football","5pointz","Acer UK","Advanced MP3 Players","Agoda.com (Global)","Albelli DE","Alexandre De Paris FR","allbeauty.com UK","allplants","AllSole UK","Ameliorate UK","Ample Bosom","apartments4you","Appleyard Flowers","Arena Flowers","Aria Resorts","Art Gallery","Artfinder","Asics UK","AsVIVA DE","Aurelia Skincare","bakerdays","Balance Me","Banggood UK","Bargain Crazy","Be Jealous","Beauty Coiffure FR","Beauty Cutie","Beauty Expert UK","Beauty Works Online","Bed and Bath Emporium","Bedeck Home","Ben Sherman","Benefit Cosmetics UK","Best Gym Equipment","Bloom Boutique","Blossoming Flowers and Gifts","blow LTD","Bodybuilding Warehouse","BodyChef","Bonusprint","boohooMAN.com","Boots.com","British Ceramic Tile","BULK POWDERS UK","Bunches.co.uk","C.W. Sellors","Cancer Research UK - Online Shop","Candles Direct","Cartridge People","CartridgeMonkey","Chain Reaction Cycles UK","Cherry Lane Garden Centres","Choice Furniture Superstore","Claire's UK","Classic Football Shirts","Coggles UK","Colette Hayman","Cool Hammocks","Cox and Cox","CraftStash","Cuckooland","Curious Egg - Artist Curated Interiors","Currys PC World","Currys PC World IE","CW Clothes","Cyclopes FR","Dance Direct","DC Thomson Shop","DealExtreme - DX.com (Global)","Dealextreme ES","DealeXtreme EU","Degusta Box UK","Dekoria","Demon Tweeks","Deramores","Designer Sofas 4U","DFDS Seaways","Direct Fireplaces","Direct Stoves","directblinds","Discodery FR","Discount Supplements","Dogalogue","Dower and Hall","DressLily","Dutch Designer Outlet NL","EasyJet Holidays UK","Easylife Group","Ego Shoes Ltd","Electrical World","Electricshop","EMP UK","English Heritage - Membership","English Heritage - Shop","Eqvvs","ESE Direct","ESPA Skincare UK","Everdine","Exante UK","Eyeko UK","F1 Autocentres","Falke UK","Fashion World","Feel Good Contacts UK","Flavourly","Flower Station Ltd","Flowercard","Flying Flowers","Footasylum","Fossil UK","Fragrancedirect","French Connection UK","Friction Free Shaving","Future You Health","G2A PL","GAA Store","Gamiss","Gardening Express","Gatineau","GearBest (Global)","Gemporia","Getting Personal","GhostBikes.com","Giffgaff Recycle","Glossybox UK","Goddiva","Golf Support","Graham & Brown","Graze","Graze Shop","Great Plains","GreatMagazines","Green People","Grow Gorgeous UK","GSF Car Parts","Gtech.co.uk","Hampergifts.co.uk","Hargroves Cycles","Haysom Interiors","Healthspan","Hersey & Son London Silversmiths","High Street TV","Higher Nature","Homelia","Hot Diamonds","Hotels.com UK","HQhair UK","Hughes","Iceland","illamasqua UK","Inkifi","Interflora","Interflora Ireland","Interior Panel Systems Ltd","IT Cosmetics UK","IT Governance","Ivory Isle Designs (US & Canada)","Iwantoneofthose.com UK","JD Williams","JigsawPuzzle.co.uk","Jockey Club Racecourses Limited","John Greed Jewellery","JOSH V DE","JOSH V NL - BE","Josh V UK","JoyBuy UK","Julian Charles","Jura Watches","Just Go Holidays","Kiddies Kingdom","Kiehls UK","Kings Will Dream","Kingsmills Hotel","LA Muscle","La Redoute","Lamoda Fashion","Lamp Shop Online Ltd","Lancôme UK","Lanieri IT","Learning 24/7","Led Hut Ltd","Leesa Sleep","Leisure Lakes Bikes","Lentiamo","LetsGetChecked","Lightbulbs Direct","Lights 4 Living","Lights.co.uk","Lights.ie","Lily & Loaf","Lilys Kitchen","Little Mistress","Lloydspharmacy","Locks Online","Loews Hotels (Global)","Logitech_DE","Lombok","lookfantastic RU","lookfantastic UK","Looking4Parking UK","Lovedrobe","Macback","Madam Rage","Made.com UK","MAGIX Software & VEGAS Creative Software","Mankind UK","Marisota","Mattress Man","Mattressnextday","MemoryPC DE","Mesh Affiliate Programme","Mighty Deals","Millennium Hotels","Mio Skincare UK","Mister Spex UK","Monster Pet Supplies","Monster Supplements","MOO","mostwanted-pens DE","My Geek Box UK","My Photo Puzzle","MyBag UK","Myprotein UK","myvitamins UK","Names.co.uk","NastyGal","National Pen","Neilson Holidays","New Balance","Newfrog","Nisbets plc UK","Nordgreen UK","Oak Furniture King","Omega Breaks","One Garden","Ordnance Survey","Oxford Online Pharmacy","P&N Homewares","Pact Coffee","Parfum Du Monde FR","Party Pieces","Paul Hewitt UK","Pauls Boutique","Peggy Buy","Perfume Click","Perfumes club UK","Peter Hahn","Pharmacy First","Planet Warrior (Recycled Plastic Yoga Wear)","Porzellantreff DE","Preloved UK","Prestige Flowers","Printed.com","PrinterInks","PrinterPix","ProBikeKit UK","Promondo DE","Protest UK","Protyre","Public Desire","QD stores","Qustodio","Rapid Online - Rapid Electronics Ltd.","Razer UK & IE","renskincare.com","Ribble Cycles (US)","Robert Dyas","Roman Originals","Rosewe (US)","SAA","Samuel Johnston","Scarlett & Jo","Scholastic","Scotts of Stow","Select Fashion","Selections","SexShop112 PL","Shark Clean","Sheridan UK","Shorefield Holidays","Simply Cook","Simply Home Entertainment","Simply LED","Simply Meds Online","Simply Supplements","Skagen UK","Slingsby","Snapfish Ireland","Snapfish.co.uk","Soak & Sleep","Soak.com","Sock Shop","SOUTHBAG DE","Spafinder Wellness 365","Spartoo.co.uk","SpeedyHen","Spiral Direct","Spiral Direct (US & Canada)","Suit Direct","Sweatband.com","Tails","Tech in the basket","Tech Trade","The Hut UK","The Jewel Hut","The Montcalm","The Protein Works UK","The Shaftesbury","The Watch Cabin","Theatre Tickets Direct","theofficesuppliessupermarket.com","Thompson & Morgan","Tiqets AU","Tiqets Benelux","Tiqets DE","Tiqets ES","Tiqets FR","Tiqets IT","Tiqets PT","Tiqets UK","Tiqets US","TomTop","Toner Giant","Topdoginsurance","toucanBox","TP Toys","Transform Your Images","Travel Luggage & Cabin Bags Ltd","Treatwell (UK)","Truprint","Trusted Travel","Trustedhousesitters","Tweeks Cycles","Twinings Teashop","Uber Kids","Uk Lingerie","UKHost4u","UNDONE Watches","Van Meuwen","Vertbaudet","Vifitsport NL","Virtual College","VITL","Vivomed Limited","Waitrose & Partners","Wal G","Want That Trend","Wendy Wu Tours","Wex Photo Video","What About This","Wiggle Online Cycle Shop","Women's Best UK","Wordery (UK)","World Remit LTD","www.inthestyle.com","YouGarden.com","Young British Designers","Zavvi UK","Zoobio FR","zoohit SI","Zooplus.co.uk", "Topshop"];
        $( "#query" ).autocomplete({
            minLength: 3,
            source: availableTags,
            select: function(event, ui) {  $("input#search").val(ui.item.value); $("#searchform").submit();  }

        });

    });
</script>
<script src="/twitter-feed-reader.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/tweets.asp",
            dataType: "json",
            success: function (data) {
                for (tt in data) {
                    $('#twitter_feed_rgt').append('<p>' + replaceLinks(data[tt].text) + '</p>');
                }

            }
        });
    });

    function replaceLinks(text) {
        var exp = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
        text = text.replace(exp, "<a target=\"_blank\" rel=\"nofollow\" href='$1'>$1</a>");

        var exp2 = /(^|\s)@(\w+)/g;
        return text.replace(exp2, "$1<a target=\"_blank\" rel=\"nofollow\" href=\"https://www.twitter.com/$2\">@$2</a>");

    }
</script>

</body>
</html>