<!DOCTYPE html>

<html>
<header>

</header>

<body>

<h1>
    Usted es un Usuario.
</h1>

<h3>
    Esclavo :v
</h3>

<h1>
    Logout
</h1>

<form action="/logout" method="GET">
    <button type="submit">Logout</button>
</form>

</body>


</html>