<!DOCTYPE html>

<html>

<header>


</header>

<body>
<h1>Inicio</h1>

<h2>Login</h2>

<p>Ingresar Informacion</p>

<form action="/login"
      method="post"
>
    <div>
        <label for="correolg">Correo</label>
        <input id="correolg" type="text" name="correolg">
    </div>
    <div>
        <label for="passwordlg">Password</label>
        <input id="passwordlg" type="password" name="passwordlg">
    </div>

    <button type="submit">Ingresar</button>

</form>

<h2>Sign up</h2>

<p>Ingresa tus credenciales</p>

<form action="crearUsuario"
      method="post"
>
    <div>
        <label for="nombreUsuario">Nombre</label>
        <input id="nombreUsuario" type="text" name="nombreUsuario">
    </div>

    <div>
        <label for="correo">Correo</label>
        <input id="correo" type="text" name="correo">
    </div>

    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
    </div>

    <div>
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input id="fechaNacimiento" type="date" name="fechaNacimiento">
    </div>

    <button>Registrarse</button>

</form>

</body>

</html>